doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Eventos e Notícias - RS Racing UFRGS
        // Bootstrap core CSS
        link(href='/static/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='/static/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='/stylesheets/clean-blog.css', rel='stylesheet')
        link(rel='shortcut icon', href='/img/favicon.ico')
    body
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='/')
                    img.img-fluid(src='/img/logo.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto(style="text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;")
                        li.nav-item
                            a.nav-link(href='#') Newsletter
                        li.nav-item
                            a.nav-link(href='/') Voltar
        // Page Header
        header.masthead(style="background-image: url('/img/headerblog.jpg')")
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        .site-heading
                            h1(style="text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;") Eventos e Notícias
                            span.subheading(style="text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222;") RS Racing UFRGS
        // Main Content
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .post-preview
                        a(href='#')
                            h2.post-title
                                | Página em Construção
                            h3.post-subtitle
                                | Esta página ainda está em desenvolvimento, em breve estará disponível!
                    hr
                    //.post-preview
                        a(href='post.html')
                            h2.post-title
                                | I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        p.post-meta
                            | Posted by
                            a(href='#') Start Bootstrap
                            |               on September 18, 2017
                    //hr
                    //.post-preview
                        a(href='post.html')
                            h2.post-title
                                | Science has not yet mastered prophecy
                            h3.post-subtitle
                                | We predict too much for the next year and yet far too little for the next ten.
                        p.post-meta
                            | Posted by
                            a(href='#') Start Bootstrap
                            |               on August 24, 2017
                    //hr
                    //.post-preview
                        a(href='post.html')
                            h2.post-title
                                | Failure is not an option
                            h3.post-subtitle
                                | Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        p.post-meta
                            | Posted by
                            a(href='#') Start Bootstrap
                            |               on July 8, 2017
                    //hr
                    // Pager
                    //.clearfix
                        a.btn.btn-secondary.float-right(href='#') Older Posts →
        hr
        // Footer
        // Footer
        footer
            .container
                .row
                    .col-md-4
                        span.copyright Copyright © RS Racing UFRGS 2017
                    .col-md-4
                        ul.list-inline.social-buttons
                            li.list-inline-item
                                a(href='https://www.youtube.com/channel/UCeW--7uUxS2YpRSU7Op_GnQ')
                                    i.fa.fa-youtube
                            li.list-inline-item
                                a(href='https://www.facebook.com/RSRacingTeam/')
                                    i.fa.fa-facebook
                            li.list-inline-item
                                a(href='https://www.instagram.com/rsracingufrgs/')
                                    i.fa.fa-linkedin
                        p.copyright.text-muted Copyright © RS Racing UFRGS 2017
        // Bootstrap core JavaScript
        script(src='/static/jquery/jquery.min.js')
        script(src='/static/popper/popper.min.js')
        script(src='/static/bootstrap/js/bootstrap.min.js')
        // Custom scripts for this template
        script(src='/js/clean-blog.js')
